* {
    margin: 0;
    padding: 0;
}

.invisiText {
    color: white;
    text-shadow: 0 0 3px black;
}

#textbot {
    width: 95%;
    color: white;
    margin-top: 1%;
    border: 1px solid white;
    background-color: black;
}

#textbot2 {
    width: 100%;
    color: white;
    border: 1px solid white;
    background-color: black;
}

#collect {
    display: block;
}

#wrenchCost {
    display: block;
}

#enhancePower {
    display: block;
}

#enhanceCore {
    display: block;
}

/*------Buttons------*/

.button {
    padding: 11px 6px 6px 6px;
    display: none;
    height: 30px;
    width: 163px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: black;
    border: solid white 1px;
}

.button:hover {
    transition: 0.5s;
    color: black;
    background-color: white;
    cursor: pointer;
}

.button span {
    display: none;
}

.button:hover span {
    display: inline;
    position: absolute;
    width: auto;
    margin-top: 32px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.button:active {
    transition: none;
    cursor: pointer;
    color: white;
    background-color: black;
}

#teach {
    display: none;
}

#microchipCost {
    display: none;
}

#apgCost {
    display: none;
}

#saveload {
    margin-left: 33.5%;
    margin-bottom: 75px;
}

#save {
    display: block;
    float: left;
}

#load {
    display: block;
    margin-left: 3%;
    float: left;
}

#tabC {
    display: none;
}

#tabB {
    display: none;
}

#tabS{
    display: none;
}

#tabT{
    display: none;
}

#tabI{
    display: none;
}

/*------Misc------*/

#title {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 54px;
    margin-left: 33%;
    color: white;
}

.productivity {
    display: none;
}

#scanthing {
    display: none;
    height: 30px;
    text-align: center;
    color: white;
    border: 1px solid white;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 4px black;
    text-decoration: none;
}

#themes {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.theme {
    color: white;
}

#powers{
    display: none;
    position: relative;
    float: left;
}
/*------Battlescreens------*/
#Battlescreen {
    display: none;
}

#TOYRO {
    float: left;
    text-align: left;
}

#ENEMY {
    float: left;
    text-align: left;

}

#battletimer {
    float: left;
    text-align: center;
    margin-right: 1%;
}

#attack {
    position: absolute;
}

#cooldown {
    display: none;
    position: absolute;
}

#scanEnemy {
    display: none;
}

#statsplace{
    display: inline-block;
}

/*-------Resources-------*/
.resources {
    font-size: 32px;
    display: none;
}


/*------Html------*/
body {
    background-color: black;
    margin-left: 5%;
}

p {
    color: white;
    text-shadow: 0 0 3px black;
}

h1 {
    color: white;
    display: block;
}

/*-------Description-------*/
.description {
    display: none;
    padding-left: 1%;
    padding-right: 1%;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
    background-color: darkred;
}

/*------------Tab------------*/

.tabs{
    display: inline-block;
    margin-top: 1%;
}

/*---------Placement---------*/
#placementWorkshop{
    display: none;
}

#placementUpgrade{
    display: none;
}

#placementCollectors {
    position: relative;
    float: left;
}

#placementMainResources {
    position: relative;
    float: left;
}

#placementStatsEnemy{
    float: left;
}

#box1 {
    float: left;
    width: 100%;
    height: 100%;
}

#box2 {
    float: left;
    width: 50%;
    height: 100%;
}

#box3 {
    float: left;
    height: 100%;
}

#box2a {
    display: block;
}

#box2b {
    display: none;
}

#box2c {
    display: none;
}

#box3a {
    display: none;
}

#box3b {
    display: none;
}

#box3c {
    display: none;
}

.boxy {
    float: left;
    display: block;
    width: 175px;
    margin-right: 6px;
}