* {
    margin: 0;
    padding: 0;
}

.invisiText {
    color: white;
    text-shadow: 0 0 3px black;
}

#textbot {
    display: inline-block;
    color: white;
    margin-top: 1%;
    border: 1px solid white;
    text-shadow: 0 0 3px black;
    background-color: mediumseagreen;
}

/*------Buttons------*/

.button {
    margin-top: 5px;
    display: block;
    height: 30px;
    width: 163px;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    border: 1px dashed white;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 4px black;
    text-decoration: none;
}

.button:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid white;
    background-color: lightpink;
    box-shadow: 0 0 0 0;
}

.button:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid white;
    background-color: lightpink;
    box-shadow: 0 0 0 0;
}

.button span {
    display: none;
}

.button:hover span {
    display: inline;
    position: absolute;
    width: auto;
    margin-top: 32px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    border: 1px solid white;
    color: white;
    background-color: darkred;
}

.button:active {
    transition: none;
    cursor: pointer;
    background-color: deeppink;
}

#teach {
    display: none;
}

#microchipCost {
    display: none;
}

#save {
    position: static;
    float: left;
    margin-left: 35%;
}

#load {
    position: relative;
    margin-left: 1%;
    float: left;
}

/*------Misc------*/

#title {
    margin-left: 33%;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;

}

.productivity {
    display: none;
}

/*------Battlescreens------*/
#Battlescreen {
    display: none;
}

#TOYRO {
    position: absolute;
    margin-top: 1%;
    margin-left: 25%;
}

#ENEMY {
    position: absolute;
    margin-top: 1%;
    margin-left: 60%;
}

#attack {
    position: absolute;
}

#cooldown {
    display: none;
    position: absolute;
}

/*-------Resources-------*/
.resources {
    font-size: 32px;
    display: none;
}

#Parts {
    text-shadow: 2px 1px 0 dimgrey;
}

#Knowledge {
    text-shadow: 2px 1px 0 darkgreen;
}

#ToyRobots {
    text-shadow: 2px 1px 0 dodgerblue;
}

#TeacherBots {
    text-shadow: 2px 1px 0 crimson;
}

/*------Skills------*/

#teachLanguage {
    display: none
}

#teachEngineering {
    display: none
}

#teachKungFu {
    display: none
}

/*------Shop------*/

#wrenchCost {
    display: none
}

/*------Workshop------*/

#toyRobot {
    display: none;
}

#teacherBot {
    display: none;
}

#fixRobot {
    display: none;
}

#fixRobot2 {
    display: none;
}

#instJetpacks {
    display: none;
}

#instEyeglasses {
    display: none;
}

#mechaCockroach {
    display: none;
}

/*------Html------*/
body {
    background-color: lightskyblue;
    margin-left: 5%;
}

p {
    color: white;
    text-shadow: 0 0 3px black;
}

h1 {
    color: white;
    text-shadow: 1px 1px 0 dimgrey;
    display: block;
}

/*-------Description-------*/
.description {
    display: none;
    padding-left: 1%;
    padding-right: 1%;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
    background-color: darkred;
}

/*------------Tab------------*/
#tabs {
    display: none;
}
#selectTab1 {
    display: inline-block;
    background-color: mediumpurple;
}

#selectTab1:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#selectTab1:active {
    transition: none;
    background-color: darkcyan;
}

#tab2 {
    display: none;
}

#selectTab2 {
    display: inline-block;
    background-color: mediumpurple;
}

#selectTab2:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#selectTab2:active {
    transition: none;
    background-color: darkcyan;
}

/*---------Placement---------*/
#placementCollectors {
    position: absolute;
    float: left;
}

#placementResources {
    position: absolute;
    float: left;
    margin-left: 70%;
}

#placementInventory {
    position: absolute;
    float: left;
    margin-top: 15%;
}

#placementLearned {
    position: absolute;
    float: left;
    margin-top: 15%;
    margin-left: 15%;
}

#placementShop {
    position: absolute;
    float: left;
    margin-left: 15%;
}

#placementWorkshop {
    position: absolute;
    float: left;
    margin-left: 35%;
}

#placementSkills {
    position: absolute;
    float: left;
    margin-left: 50%;

}

#placementStats {
    position: absolute;
    float: left;
    margin-left: 60%;
}