* {
    margin: 0;
    padding: 0;
}

.invisiText {
    color: white;
    text-shadow: 0 0 3px black;
}

.border {
    display: block;
    float: left;
    position: absolute;
    margin-top: -11px;
    margin-left: -6px;
    z-index: -1;
}

#textbot {
    display: inline-block;
    color: white;
    margin-top: 1%;
    border: 1px solid white;
    text-shadow: 0 0 3px black;
    background-color: mediumseagreen;
}

#collect {
    display: block;
}

#wrenchCost {
    display: block;
}

#enhancePower {
    display: block;
}

#enhanceCore {
    display: block;
}

/*------Buttons------*/

.button {
    margin-top: 10px;
    padding-top: 5px;
    display: none;
    height: 30px;
    width: 163px;
    text-align: center;
    color: deeppink;
    background-color: lightpink;
    border: 1px dashed white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 1px 2px dimgrey;
    box-shadow: 0 0 0 0;
    text-decoration: none;
}

.button:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid palevioletred;
    box-shadow: 0 0 4px black;
}

.button span {
    display: none;
}

.button:hover span {
    display: inline;
    position: absolute;
    width: auto;
    margin-top: 32px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    border: 1px solid white;
    color: white;
    text-shadow: 0 0 3px black, 0 0 4px black;
    background-color: darkred;
}

.button:active {
    transition: none;
    cursor: pointer;
    background-color: deeppink;
}

#teach {
    display: none;
}

#microchipCost {
    display: none;
}

#apgCost {
    display: none;
}

#saveload {
    margin-left: 34%;
}

#save {
    display: block;
    float: left;
}

#load {
    display: block;
    margin-left: 3%;
    float: left;
}

/*------Misc------*/

#title {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 54px;
    margin-left: 33%;

}

.productivity {
    display: none;
}

#scanthing {
    margin-top: -32px;
    margin-left: 170px;
    display: none;
    height: 30px;
    width: 163px;
    text-align: center;
    color: white;
    border: 1px solid white;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 4px black;
    text-decoration: none;
}

/*------Battlescreens------*/
#Battlescreen {
    display: none;
}

#TOYRO {
    position: absolute;
    margin-top: 1%;
    margin-left: 25%;
}

#ENEMY {
    position: absolute;
    margin-top: 1%;
    margin-left: 60%;
}

#attack {
    position: absolute;
}

#cooldown {
    display: none;
    position: absolute;
}

#scanEnemy {
    display: none;
}

/*-------Resources-------*/
.resources {
    font-size: 32px;
    display: none;
}

#Parts {
    text-shadow: 2px 1px 0 darkblue;
}

#Parts2 {
    text-shadow: 2px 1px 0 darkblue;
}

#Knowledge {
    text-shadow: 2px 1px 0 Darkgreen;
}

#Knowledge2 {
    text-shadow: 2px 1px 0 Darkgreen;
}

#ToyRobots {
    text-shadow: 2px 1px 0 dodgerblue;
}

#MechaCockroach {
    text-shadow: 2px 1px 0 dodgerblue;
}

#MechaMantis {
    text-shadow: 2px 1px 0 dodgerblue;
}

#TeacherBots {
    text-shadow: 2px 1px 0 mediumseagreen;
}

#CyborgDolphin {
    text-shadow: 2px 1px 0 mediumseagreen;
}

#CyborgParrot {
    text-shadow: 2px 1px 0 mediumseagreen;
}

/*------Html------*/
body {
    background-color: lightskyblue;
    margin-left: 5%;
}

p {
    color: white;
    text-shadow: 0 0 3px black;
}

h1 {
    color: white;
    text-shadow: 1px 1px 0 dimgrey;
    display: block;
}

/*-------Description-------*/
.description {
    display: none;
    padding-left: 1%;
    padding-right: 1%;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
    background-color: darkred;
}

/*------------Tab------------*/
#tabs {
    display: none;
}

#selectTab1 {
    display: inline-block;
    background-color: mediumpurple;
}

#selectTab1:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#selectTab1:active {
    transition: none;
    background-color: darkcyan;
}

#tab2 {
    display: none;
}

#selectTab2 {
    display: inline-block;
    background-color: mediumpurple;
}

#selectTab2:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#selectTab2:active {
    transition: none;
    background-color: darkcyan;
}

/*---------Placement---------*/
#placementCollectors {
    position: absolute;
    float: left;
}

#placementResources {
    position: absolute;
    float: left;
    margin-left: 70%;
}

#placementInventory {
    position: absolute;
    float: left;
    margin-top: 15%;
}

#placementLearned {
    position: absolute;
    float: left;
    margin-top: 15%;
    margin-left: 15%;
}

#placementShop {
    position: absolute;
    float: left;
    margin-left: 15%;
}

#placementWorkshop {
    position: absolute;
    float: left;
    margin-left: 35%;
}

#placementSkills {
    position: absolute;
    float: left;
    margin-left: 50%;
}

#placementBattle {
    position: absolute;
    float: left;
    margin-left: 0;
}

#placementEnhance {
    position: absolute;
    float: left;
    margin-left: 25%;
}

#placementResources2 {
    position: absolute;
    float: left;
    margin-left: 45%;
}

#placementStats {
    position: absolute;
    float: left;
    margin-left: 65%;
}

#placementStatsEnemy {
    position: absolute;
    float: left;
    margin-left: 65%;
    margin-top: 150px;
}